<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
            Cart (<span id="cart-item-count">0</span>)
            <img src="/img/cart.png" alt="" width="28" height="28" class="rounded-circle" style="object-fit:contain;">
        </a>
    </li>
</ul>