@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="row" style="background-color: rgba(255,255,255,0.75);margin: 3rem;">
    <div class="container d-flex justify-content-center" style="text-align:center;">
        <div class="col-md-6" style="padding:5rem;">
            <h1>@ViewData["Title"]</h1>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
                }
                else
                {
            <p>
                    Please check your email to confirm your account.
            </p>
                }
            }
        </div>
    </div>
</div>
