body {
}

.container-first {
    background-color: #f2f2f2;
    width: 100%;
    height: 310px;
    color: black;
    margin-bottom: 250px;
}

.card-header {
    background: border-box;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin: 10px;
}

    .card-header text {
        margin: 0px 0px 15px 15px;
        margin-top: 20px;
        color: #000;
    }

#teams {
    background-color: #fff;
    margin-top: 300px;
    width: 100%;
    padding: 10px;
    
    
}
.row{
    width: 100%;
    padding: 10px;
}
.col {
    background-color: #fff;
    border: 1px solid black;
    justify-content: center;
    margin: 0 auto;
    width: 22%;
    box-shadow: 5px 5px black;
    padding: 10px;
}

.card-header img {
    float: right;
    margin: -50px 0px 15px 0px;
}

#lead-text p{
    color: #fff;
}







#divBtn {
    background-image: url('../Media/scroll-bar.png');
}

.lead-text {
    color: #000;
}
/*mobile*/
@media (max-width: 600px) {
    .col {
        width: 100%;
        background-color: #fff;
        margin: 10px;
    }
    .avatar-holder{
        width: 100%;
    }
    .text-left h3{
        font-size: 18px;
        color: black;

    }
    .card-header img{
       width: 47px;
    }
}
/*ipad*/
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
   .col{
       width: 100%;
   }
}

