
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="../css/about.css" rel="stylesheet">
<body>
<section class=" text-center container-first">
      
   
    <svg class="topography-shape js-shape" width="100%" height="310px"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1800, 60) scale(2.8, 2.8) skewX(30) " style="position: relative; z-index: 0; fill: rgb(214, 242, 255);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1650, 55) scale(2.65, 2.65) skewX(27.5) " style="position: relative; z-index: 1; fill: rgb(199, 225, 243);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1500, 50) scale(2.5, 2.5) skewX(25) " style="position: relative; z-index: 2; fill: rgb(184, 207, 230);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1350, 45) scale(2.3499999999999996, 2.3499999999999996) skewX(22.5) " style="position: relative; z-index: 3; fill: rgb(169, 190, 218);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1200, 40) scale(2.2, 2.2) skewX(20) " style="position: relative; z-index: 4; fill: rgb(154, 173, 206);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-1050, 35) scale(2.05, 2.05) skewX(17.5) " style="position: relative; z-index: 5; fill: rgb(139, 155, 193);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-900, 30) scale(1.9, 1.9) skewX(15) " style="position: relative; z-index: 6; fill: rgb(125, 138, 181);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-750, 25) scale(1.75, 1.75) skewX(12.5) " style="position: relative; z-index: 7; fill: rgb(110, 121, 169);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-600, 20) scale(1.6, 1.6) skewX(10) " style="position: relative; z-index: 8; fill: rgb(95, 103, 156);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-450, 15) scale(1.45, 1.45) skewX(7.5) " style="position: relative; z-index: 9; fill: rgb(80, 86, 144);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-300, 10) scale(1.3, 1.3) skewX(5) " style="position: relative; z-index: 10; fill: rgb(65, 69, 132);"></path>
        <path d="M734.567 34.372c-28.692 61.724-23.266 100.422 16.275 116.094 59.313 23.508 200.347 32.911 259.299 83.906 58.95 50.994 238.697 11.572 269.438-75.95C1310.32 70.9 1365.669-64 1073.808-64c-194.576 0-307.654 32.79-339.24 98.372h-.001z" fill="#FFFA72" fill-rule="nonzero" transform="translate(-150, 5) scale(1.15, 1.15) skewX(2.5) " style="position: relative; z-index: 11; fill: rgb(50, 51, 119);"></path>
    </svg>



           <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Meet the Team</h1>
                <p class="lead text-muted">We are a group of Software Developers focusing on C# language and .NET framework.
                    <br> We have combined years of experience developing mobile and desktop applications for clients of all sizes. <br/>
                </p>


                <button id="scroll" onclick="btnRed();"><img src="../Media/scroll-bar.png" width="100" height="75" /></button>
                 
           </div>
           </div>

         
</section>
    

    
<div id="teams">


        

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

                    <div class="col">
                        <div class="card-header justify-content-evenly">
                            <text class="text-left"><h3>Back-end Master</h3></text>
                            <img src="../Media/database.png" width="75" height="50" />
                           
                        </div>
                            <image class="avatar-holder" src="../Media/alec-selfie.jpg" width="300px height: 200px"/>




                            <div class="card-body">
                                <h1 class="card-title">Alex Battest </h1>
                                <p class="card-text">This project makes use of SQL database language. Quinland was tasked to create tables, schema and models for the products being sold. 
                                   Alec has a thing for manipulating data, long with mastering the C# language and the .NET framework.
                                </p>
                                
                            </div>
                        
                    </div>
            <div class="col">
                <div class="card-header justify-content-evenly">
                    <text class="text-left"><h3>Back-end Architect</h3></text>
                    <img src="../Media/layer.png" width="75" height="50" />

                </div>
                
                <image class="avatar-holder " src="../Media/cat.jpg" width="300px height: 200px" />
                



                <div class="card-body">
                    <h1 class="card-title">Jacob Wolfe </h1>
                    <p class="card-text">
                        This project makes use of SQL database language. Quinland was tasked to create tables, schema and models for the products being sold.
                        Alec has a thing for manipulating data, long with mastering the C# language and the .NET framework.
                    </p>

                </div>

            </div>
            <div class="col">
                <div class="card-header justify-content-evenly">
                    <text class="text-left"><h3>Front-end Decorator</h3></text>
                    <img src="../Media/ux.png" width="75" height="50" />

                </div>
                <image class="avatar-holder" src="../Media/james-selfie.jpg" width="300px height: 200px" />




                <div class="card-body">
                    <h1 class="card-title">James Bienaime </h1>
                    <p class="card-text">
                        This project makes use of SQL database language. Quinland was tasked to create tables, schema and models for the products being sold.
                        Alec has a thing for manipulating data, long with mastering the C# language and the .NET framework.
                    </p>

                </div>

            </div>

            <div class="col">
                <div class="card-header justify-content-evenly">
                    <text class="text-left"><h3>SQL Ninja</h3></text>
                    <img src="../Media/sql-server.png" width="75" height="50" />

                </div>
                <image class="avatar-holder" src="../Media/jellyfish.jpg" width="300px height: 200px" />




                <div class="card-body">
                    <h1 class="card-title">Quinlan </h1>
                    <p class="card-text">
                        This project makes use of SQL database language. Quinland was tasked to create tables, schema and models for the products being sold.
                        Alec has a thing for manipulating data, long with mastering the C# language and the .NET framework.
                    </p>

                </div>

            </div>

       </div>
                    


</div>

<!-----javascript---------->
    <script>


        function btnRed() {
            document.getElementById("teams").style.backgroundColor = "#00B7EB";
        }
    </script>


</body>
