@{
    ViewData["Title"] = "Home Page";
}

<link href="carousel.css" rel="stylesheet">

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
      <div class="carousel-inner">

                <div class="carousel-item active">
                    <svg width=100% height=100% preserveAspectRatio="xMinYMin slice" viewBox=" 0 0 300 200">
                        
                        <image href="/img/strawberries.jpg" width=100% height=100% />
                    </svg>
                    
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Organic Food at Your Doorsteps!.</h1>
                            <p>Enjoy organic, Non-GMO locally sourced farm products.</p>
                            <p><a class="btn btn-lg btn-primary" href="Home/Cart">Order Now</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg width=100% height=100% preserveAspectRatio="xMinYMin slice" viewBox=" 0 0 300 200">

                        <image href="/img/jellyfish.jpg" width=100% height=100% />
                    </svg>

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Enjoy a seamless experience.</h1>
                            <p>Browse, Select, Pay and Done!.</p>
                            <p><a class="btn btn-lg btn-primary" href="Home/Cart">Browse Products</a></p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <svg width=100% height=100% preserveAspectRatio="xMinYMin slice" viewBox=" 0 0 300 200">

                        <image href="/img/dog.jpg" width=100% height=100% />
                    </svg>

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>We have a dedicated Team.</h1>
                            <p>We are here at every step of the way. Discover the people behind the magic of effortless grocery shopping.</p>
                            <p><a class="btn btn-lg btn-primary" href="Home/Cart">Our Team</a></p>
                        </div>
                    </div>
                </div>

      </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
      </div>




  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#85D68A" /><text x="50%" y="50%" fill="#85D68A" dy=".3em">140x140</text></svg>

        <h2>Browse</h2>
        <p>Browse our store for fresh fruits and vegetables. Get some fresh meat right from the butcher.</p>
        <p><a class="btn btn-secondary" href="/Home/Cart">View Products</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FD6104" /><text x="50%" y="50%" fill="#FD6104" dy=".3em">140x140</text></svg>

        <h2>Select</h2>Shopping is as easy as click once and done!Another exciting bit of representative placeholder content.
        <p><a class="btn btn-secondary" href="Home/Cart">View Products</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#45DD12" /><text x="50%" y="50%" fill="#45DD12" dy=".3em">140x140</text></svg>

        <h2>Pay</h2>
        <p>We have integrated online payment to enhance your experience. Simply Connect your wallet.</p>
        <p><a class="btn btn-secondary" href="Home/Cart">View Products</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                        <image xlink:href="https://i.picsum.photos/id/1080/6858/4574.jpg?hmac=qMYBjROs2Wu589QQXRAYsxDJu4ZuRQ4PKDpb3x_Oouw" width=100% height=100% />
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                        <image xlink:href="https://i.picsum.photos/id/225/1500/979.jpg?hmac=jvGoek9ng_Y0GaBbzxN0KJhHaiPtk1VfRcukK8R8FxQ" width=100% height=100% />
        </svg>

      </div>
    </div>

    

    

    

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->



    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
