@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p>This website is owned and operated by Fancy Foods, LLC. 
    This policy explains how Fancy Foods collects, uses, shares, and protects the personal information we collect through this website.
    We value the privacy of our website visitors and do not use or share your personally identifiable information with any organization outside of Fancy Foods, except under certain conditions below.
</p>

<h3>Summary</h3>
<p>We value the privacy of our users and only collect/use your information as explained in this policy.
    Please contact us at contact@fancyfoods.com if you have any questions.
</p>

<h6>We collect the following information:</h6>
<ul>
    <li>personal information that you voluntarily share with us.</li>
</ul>

<h6>We use and disclose the information we collect for the following purposes:</h6>
<ul>
    <li>to provide services or products that you request.</li>
    <li>to protect our business interests or the rights of others, when required by law, to cooperate with law enforcement, 
            or in connection with the sale or merger of all or part of our business</li>
</ul>

<h3>How We Collect Information</h3>

<h6>Personal Information That You Provide</h6>
<p>
    We may also collect personal information that you choose to provide to us on a voluntary basis. 
    When we ask for your personal information, it is so that we can provide a product or service to you and communicate with you about those products and services.
</p>

<hr />

<h6>This Policy Is An Agreement</h6>
<p>
    When you visit this website, you are accepting the practices described in this Privacy Policy.
</p>

<h6>Contacting Us</h6>
<p>Please reach us by email at contact@fancyfoods.com</p>