@{
    ViewData["Title"] = "Order Complete!";
}

<div class="row" style="background-color: rgba(255,255,255,0.75);margin: 3rem;">
    <div class="col">
        <h1 style="text-align:center;">@ViewData["Title"]</h1>
        <hr />
        <p>
        <h5>Thank you for placing an order with us!</h5> We're so happy to do business with great members of our
        community and are always striving to deliver our customers' orders as quickly as humanly and humanely possible!
        We will reach out with an order confirmation soon so make sure to keep an eye on your email! In the meantime,
        we'll start getting the packaging ready and printing the shipping labels! 
        </p>
        <p style="text-align: center;font-size:10rem;">
            &#128513; &#128519; &#128522;
        </p>
        <br />
        <br />
        <h3>Contacting Us</h3>
        <p>Please reach us by email at contact@fancyfoods.com at anytime if you have any questions about your order!</p>
        <p></p>
    </div>
</div>
